<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/home.css">
  <title>Home</title>
</head>
<body>
  <!-- 🔸 Contenedor superior de iconos -->
  <div class="iconos-top">
    <a href="/login" title="Iniciar sesión">
        <img src="/img/acceso.png" alt="Inicar sesión">
    </a>
    <a href="/carrito" title="Carrito de compras"><i class="fas fa-shopping-cart"></i></a>
  </div>

  <!-- 🔸 Contenedor principal -->
  <div class="rectangulo">
    <h1>Silpaza</h1>
    <nav>
      <ul>
        <li><a href="/products">Llistat productes</a></li>
        <li><a href="/books">Llistat serveis</a></li>
      </ul>
    </nav>
  </div>
</body>
</html>
