<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/home.css">
    <title>Home</title>
</head>

<body>

    <div class="saludo">
        <!-- Usuario no logueado -->
        <% if (!username) { %>
            <h1>Bienvenido invitado</h1>
            <% } else { %>
                <h1>Bienvenido <%= username %>
                </h1>
                <% } %>

    </div>

    <!--  Contenedor principal -->
    <div class="rectangulo">
        <div class="Navegacion">
            <h1>HOME</h1>
            <nav>
                <ul>
                    <li><a href="/book">Llistat serveis</a></li>
                </ul>
            </nav>
        </div>

        <!-- iconos -->
        <% if (!username) { %>
            <!-- Usuario no logueado -->
            <a href="/login" title="Iniciar sesi贸n">
                <img src="/img/acceso.png" alt="Iniciar sesi贸n">
            </a>
            <% } else { %>
                <!-- Usuario logueado -->
                <a href="/logout" title="Cerrar sesi贸n">
                    <img src="/img/logout.png" alt="Cerrar sesi贸n">
                </a>
                <a href="#" title="Carrito de compras">
                    <img src="/img/carrito.png" alt="Carrito de compra">
                </a>
                <% } %>


    </div>
</body>

</html>