<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <title>Perfil</title>
    <link rel="stylesheet" href="/css/profile.css">
</head>

<body>
    <header>
        <h1>
            <%= username %>
        </h1>
        <div class="marco">
            <img src="" alt="Foto">
        </div>
        <div class="links">
            <nav>
                <ul>
                    <li><a href="/logout">Cerrar sesión</a></li>
                    <li><a href="/protected"> Volver</a></li>
                </ul>
            </nav>
        </div>
    </header>

    <section>
        <p>Tu ID de usuario es: <%= id %>
        </p>
    </section>
</body>

</html>